
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap"); 
@import url("components/banner.css"); 
@import url("components/button.css");
@import url("components/container.css");



body {
	font-family: 'Alice', serif;
	font-size: 22 px;
	background-color: #fff7eb;  
	position:relative;
	width: 100%;
	height:2000px;
    padding: 0;
    margin: 0;


}



h1,h2 {
	   font-family: 'Alice', serif;
}


h1 {
	font-size: 48px;
	font-weight: bold; 
}


h2 {
	font-size: 36px;
}


a {
	text-decoration: none ; 
}

 

footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 30px 0px;
        background-color: #729B76;
        color: white;
        bottom: 0;
	text-align:center;
      }






