.btn-pink {
	background-color: #ffc9b9;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.btn-pink:hover {
	background-color: black;
	color: white;
}

.btn-discover {
	background-color: #ffc9b9;
	padding: 7px 20px;
	border-radius: 0px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.btn-discover:hover {
	background-color: black;
	color: white;
}



.btn-green {
	background-color: #729B76;
	color:  white;
	padding:  15px 20px;
	border-radius: 4px;
}

.btn-green:hover {
	background-color: #4A714E;
	color: white;
}
